html,
body {
  height: 100%;
  width: 100%;
  margin: 0px !important;
  font-family: Poppins, sans-serif;
  .row {
    display: flex;
    height: inherit;
  }
  #main-container {
    display: block;
    &.sticky.menu-open {
      content .vertical {
        margin-left: 230px;
      }
      content .horizontal {
        margin-top: 40px;
        .page-wrapper {
          height: calc(100vh - 84px);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #main-container {
    &.menu-open {
      #position {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.322);
        z-index: 100;
      }
    }
  }
}
